node_modules
/*.log

# error messages
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# linting
.eslintcache
.stylelintcache

# certificates
/.certs

# deployment
/build
.credentials.json
size-plugin.json
