@import 'styles/modules/variables';

.footer {
    grid-area: footer;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    background-color: alpha(background-color, 0.666);

    button {
        border: none;
        padding: 0 20px;
        font-size: calc(#{cssvar(global-font-size)} * 2);
        cursor: pointer;
    }

    .item {
        flex-grow: 3;
    }

    .amount {
        flex-shrink: 3;

        display: flex;
        justify-content: space-around;
        align-items: center;

        .more {
            color: cssvar(subtitle-color);
        }
    }

    .submit {
        padding: 0 20px;
        cursor: pointer;
    }
}
